*.pth filter=lfs diff=lfs merge=lfs -text
data/europarl-v7.fr-en.en filter=lfs diff=lfs merge=lfs -text
data/europarl-v7.fr-en.fr filter=lfs diff=lfs merge=lfs -text
data/*.examples filter=lfs diff=lfs merge=lfs -text
